*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 488px;
    background-color: #797978;
    padding-left: 30px;
}

nav {
    display: flex;
    justify-content: center;
    background-color:black;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 20px;
}

#height,
#weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#weight-guide {
    /* margin-left: 75px; */
    /* margin-top: 25px; */
    /* padding: 25px; */
}

#results {
    font-size: 20px;
    margin-left: 90px;
    margin-top: 15px;
    color: rgb(241, 241, 241);
}

button {
    width: 150px;
    height: 35px;
    cursor: pointer;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #4a90e2;
    padding: 1px 30px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    border: 1px solid #212121;

    font-size: 25px;
}
span{
    padding: 3px;
}

h1 {
    padding-left: 15px;
    padding-top: 25px;

}